page-dashboard {
    h3{
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        color: #034ea2 !important;

    }
   h2{
        font-family: "Times New Roman", Times, serif;
        color: #034ea2 !important;
    }

}
