page-home {

    ion-content{
        background-image: url("../../assets/imgs/fundo.jpg");
    }

    .test {
        color: #034ea2 !important;
    }
    img {
        margin: -20px;
    }   
    
    h2 { 
        font-family: arial, helvetica, sans-serif; 
        font-weight: 700;    
        font-size: 25px;
    }

    ion-title{
        text-align: center;
    }

    ion-content{
            background-color: #A9A9A9;
        }

}
