page-home {
    .test {
        color: #64b5f6 !important;
        
    }
    img {
        margin: -20px;
    }   
    
    h2 { 
        font-family: arial, helvetica, sans-serif; 
        font-weight: 700;    
        font-size: 25px;
    }

}
