<!--
  Generated template for the AlunosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fundo">
    <ion-title>Alunos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterItems()"></ion-searchbar>

    <ion-item><br>
      <ion-label>Escolher turma</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-option>Todas turmas</ion-option>        
        <ion-option *ngFor="let turma of listaDeTurmas">{{turma.turma}}</ion-option>
      </ion-select>
    </ion-item><br>


    <ion-list>
      <ion-item (click)="telaVisualizarDadosDoAluno(aluno.id)" *ngFor="let aluno of listaDeAlunos">
        <h2>{{aluno.nome}}</h2>
        <h3>{{aluno.turma}}</h3>
        <ion-avatar item-end>
            <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
         </ion-avatar>
      </ion-item>
    </ion-list>
</ion-content>
