<!--

-->
<ion-header>

  <ion-navbar color="fundo">
    <ion-title><ion-icon ios="md-people" md="md-people"></ion-icon>
    &nbsp;Alunos</ion-title>  </ion-navbar>

</ion-header>



<ion-content padding>

    <ion-searchbar
    [(ngModel)]="searchTerm"
    placeholder="Busque o aluno"
    (search)="filterItems()"
    autocomplete="on"
    [debounce]="600">
  </ion-searchbar>
    <ion-list>
      <ion-item (click)="telaVisualizarDadosDoAluno(aluno.id)" *ngFor="let aluno of listaDeAlunos">
        <h2>{{aluno.nome}}&nbsp;&nbsp;&nbsp;

          <script> if ((aluno.media) >= 4){
            <ion-icon name="md-alert" class="alerta"></ion-icon>
} </script>

</h2>
        <h3>{{aluno.turma}}</h3>
        <ion-avatar item-end>
            <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
         </ion-avatar>
      </ion-item>
    </ion-list>
</ion-content>












//<ion-content color="fundo" padding>
  //  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterItems()"></ion-searchbar>

    //<ion-item><br>
      //<ion-label>Escolher turma</ion-label>
      //<ion-select [(ngModel)]="gender">
       // <ion-option selected>Todas turmas</ion-option>        
       // <ion-option *ngFor="let turma of listaDeTurmas">{{turma.turma}}</ion-option>
      //</ion-select>
   // </ion-item><br>